<ion-header>
  <ion-toolbar>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list class="genrelist">
    <ion-item>
      <ion-select placeholder="Select genre">
        <ion-select-option value="apples">Fantasy</ion-select-option>
        <ion-select-option value="oranges">Action</ion-select-option>
        <ion-select-option value="bananas">Family</ion-select-option>
        <ion-select-option value="bananas">Romance</ion-select-option>
        <ion-select-option value="bananas">Horror</ion-select-option>
        <ion-select-option value="bananas">Comedy</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Select country">
        <ion-select-option value="apples">US</ion-select-option>
        <ion-select-option value="oranges">UK</ion-select-option>
        <ion-select-option value="bananas">DK</ion-select-option>
        <ion-select-option value="bananas">SWE</ion-select-option>
        <ion-select-option value="bananas">NO</ion-select-option>
        <ion-select-option value="bananas">GER</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div id="container">
    <ion-card *ngFor="let item of movies">
      <img [src]="imageBaseUrl + '/w400' + item.poster_path" />
      <ion-card-header>
        <ion-badge>{{ item.vote_average }}</ion-badge>
        <ion-card-title>{{ item.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ item.overview }}
      </ion-card-content>
    </ion-card>


  </div>


</ion-content>